extends layout

block content
    nav.navbar.navbar-expand-lg.navbar-light.bg-light
        a.navbar-brand(href="#") Subir PD Curriculum
        button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navbarNav", aria-controls="navbarNav", aria-expanded="false", aria-label="Toggle navigation")
        span.navbar-toggler-icon
        .collapse.navbar-collapse#navbarNav
        ul.navbar-nav.ml-auto.align-items-start
            li.nav-item
            a.nav-link(href="/job") Inicio
            li.nav-item
            a.nav-link(href="/auth/login") Logout
    .containercurr
        h1 Lista de Currículums
        form(action="/admincurriculum", method="get")
        .container
            input(type="text", name="nombreFiltro", placeholder="Filtrar por nombre")
            button(type="submit") Filtrar
        ul
        each curriculum in curriculums
            li
            strong= curriculum.Nombre
            if curriculum.pdfFile
                a(href=`/download/${curriculum.Nombre}`) Descargar PDF

