extends layout

block content
    nav.navbar.navbar-expand-lg.navbar-light.bg-light
        a.navbar-brand(href="#") Subir PD Curriculum
        button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navbarNav", aria-controls="navbarNav", aria-expanded="false", aria-label="Toggle navigation")
        span.navbar-toggler-icon
        .collapse.navbar-collapse#navbarNav
        ul.navbar-nav.ml-auto.align-items-start
            li.nav-item
            a.nav-link(href="/job") Inicio
            li.nav-item
            a.nav-link(href="/auth/login") Logout
    h1
    .containersubir 
        form(action="/upload", method="post", enctype="multipart/form-data")
            input(type="text", name="Nombre", placeholder="Ingrese su nombre")
            input(type="file", name="pdfFile")
            button(type="submit") Subir PDF

