doctype html
html
  head
    title= title
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    //script(src='/public/javascripts/modaldata.js')
  body
    block content
  footer
    p All rights reserved © 2023 | Bolsa Trabajo CR