doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    //script(src='/public/javascripts/modaldata.js')
  body
    block content
  footer
    p All rights reserved © 2023 | Airlane CR