extends layout

block content
  nav
  div.login-container   
    h1 Login
    form(action="/auth/login", method="post")
      div
        label(for="email") Correo:
        input(type="text", name="Correo", id="correo", required)
      div
        label(for="password") Contraseña:
        input(type="password", name="Password", id="password", required)
      button(type="submit", name="buttonlogin") Login

      // Link to registration page
      a(href="/auth/register") Registrarse

    // Mostrar el mensaje de error solo si hay un error y el campo 'error' no está vacío
    if error && error.trim().length > 0
      div.error-message(style='position: absolute; top: 0; left: 0; width: 100%; background-color: #f44336; color: white; text-align: center; padding: 10px;')= error
