extends layout

block content
    .containersucess
        h1 Success!
        p El archivo se ha subido y vinculado exitosamente al curriculum.
        a(href='/job') Ir a la página de principal